<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.ums.mapper.UmsAdminRoleRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.ums.model.UmsAdminRoleRelation">
        <id column="id" property="id" />
        <result column="admin_id" property="adminId" />
        <result column="role_id" property="roleId" />
    </resultMap>

</mapper>
